@media (max-width: 1340px) {

    .gestion {
        grid-column: 2/13;
    }
    

    div.col {
        grid-column:1/13;
        overflow-y:scroll;
    }

    /* ADD TYPE OEUVRE LIGHTBOX */

   div.box-add-type {
        height: 250px;
    }

    div.box-add-type h3 {
        padding-top: 1rem;
    }

    div.container-principal {
        flex-direction: column;
    }

    div.plan-grille {
        margin: auto;
    }

    div.plan-visuel {
        
    }
}



/* 820 */