:root {
    --BGCOLORPU: #252525;
    --BGCOLORPR: #F3f3f3;
    --PRIMARY: #565759;
    --SECONDARY: #E0EBEA; 
     --ACCENT1: #C1D734;
    --ACCENT3: #FEE440  ;
    --ACCENT2: #ed5BE8;
    --FONTCOLOR: #F3f3f3;
    --FONTCOLOR2: #252525;
    --FONTTITLE: "Playfair", sans-serif;
    --FONTTEXT: "Montserrat", sans-serif;
  }

  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

/***********   PAGE CONNEXION   ***********/
  
  .bienvenu{
    color: var(--FONTCOLOR2);
    width: 25%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: var(--FONTTITLE);
  }
  
  .form-login{

    width:600px;
    height: 400px;
    margin-top:5%;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--BGCOLORPR);
    color: var(--FONTCOLOR2);
    border-radius: 25px;
    font-family: var(--FONTTEXT);
    font-weight: 500;
  }
  
  .field-login{
    width:550px;
    height:35px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
  }
  
  
  .from-divs{
   margin: 10px 15px;
  }
  
  
  .login-input{
  display: flex;
  flex-direction: row;
  justify-content: end;
  
  }
  
  
  .input-sub-login{
    width: 150px;
    border:none;
    border-radius: 25px;
    padding: 5px;
    margin: 15px 10px;
    background-color: var(--PRIMARY);
    color:var(--FONTCOLOR);
  }
  
  .input-sub-login:hover{
    background-color: var(--ACCENT1);
    color: var(--FONTCOLOR2);
    font-family: var(--FONTTITLE);
    font-weight: 700;
  
  }
  
  
  .red{
    color:red;
    font-family: var(--FONTTEXT);
  }


  /********* DASHBOARD HOME **********/

input.dash{
  width: 12rem;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  margin: 1rem 0;
  border: 2px solid var(--PRIMARY);
  color: var(--PRIMARY);
  
}

input.short {
  width: fit-content;
  margin-left: 0.5rem;
}

div.avatar-nav {
  grid-column: 1/3;
  grid-row: 1/9;
  background-color: var(--BGCOLORPU);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

    div.avatar-nav ul,
    div.quick-nav ul {
      margin: 0;
      padding: 0;
    }

    div.avatar-nav ul li,
    div.quick-nav ul li{
      border: 1px solid var(--BGCOLORPR);
      text-align: center;
      width: 10rem;
      height: 3rem;
      padding: 0.75rem 1rem;
      margin: 1rem 0;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    div.avatar-nav ul li a,
    div.quick-nav ul li a {
      text-decoration: none;
      color: var(--FONTCOLOR);
    }

    div.avatar-nav img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      margin-bottom: 4rem;
    }

div.quick-nav {
  grid-column: 3/13;
  grid-row: 1/2;
  background-color: var(--BGCOLORPR);
  display: flex;
  z-index: 99;
  box-shadow: 4px 29px 26px 0px rgba(0,0,0,0.1);
}

    div.quick-nav ul {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: space-around;
    }

    div.quick-nav ul li a {
      color: var(--FONTCOLOR)
    }

    div.quick-nav ul li {
      border: none;
      background-color: var(--PRIMARY);
    }

div.main-nav {
  grid-column: 3/13;
  grid-row: 2/9;
  background-color: var(--BGCOLORPR);
  display: flex;
  flex-direction: row;
}

    div.main-nav div#calendar {
      width: 60%;
    }

    div.main-nav div.add-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
    }

div.art-state {
  grid-column: 1/13;
  grid-row: 9/13;
  background-color: var(--BGCOLORPR);
  border: 2px solid var(--BGCOLORPU);
  padding: 2rem;
}

div.art-state h2 {
  padding-bottom: 1rem;
}

div.art-state div.first-art {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.5px solid var(--PRIMARY);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 16px 8px 26px 0px rgba(0,0,0,0.1);
}
  
div.art-state div.first-art img {
  width: 200px;
  height: 200px;
}

div.art-state div.first-art p {
  padding: 0.5rem 0;
}

/***********   PAGE ADD COLLABORATEUR  et ADD SERVICE ***********/
.add-collab{
  width:800px;
  height: 900px;
  margin-top:2%;
  margin-left:auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--BGCOLORPR);
  color: var(--FONTCOLOR2);
  border-radius: 25px;
  font-family: var(--FONTTEXT);
  font-weight: 500;
}

.field-add-collab{
  width:550px;
  height:35px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.input-sub-add-collab{
  width: 120px;
  border:none;
  border-radius: 25px;
  padding: 5px;
  margin: 15px 10px;
  background-color: var(--PRIMARY);
  color:var(--FONTCOLOR);
  font-weight: 700;
}

 .input-sub-add-collab:hover{
  background-color: var(--ACCENT1);
  color: var(--FONTCOLOR2);
  font-family: var(--FONTTITLE);
  font-weight: 700;
}
.valider-service{
  width: 120px;
  border:none;
  border-radius: 25px;
  padding: 5px;
  margin: 10px 25px;
  background-color: var(--PRIMARY);
  color:var(--FONTCOLOR);
  font-weight: 700;
}

.valider-service:hover{
  background-color: var(--ACCENT1);
  color: var(--FONTCOLOR2);
  font-family: var(--FONTTITLE);
  font-weight: 700;
}

#add-service{
  width: 140px;
  border:none;
  border-radius: 25px;
  padding: 5px;
  margin: 0px 10px;
  background-color: var(--PRIMARY);
  color:var(--FONTCOLOR);
  font-weight: 700;
}

#add-service:hover{
  background-color: var(--ACCENT1);
  color: var(--FONTCOLOR2);
  font-family: var(--FONTTITLE);
  font-weight: 700;
}

.title-form{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-family: var(--FONTTITLE);
  font-size: 1.4rem;
  font-weight: 700;
}

.a-in-btn{
  text-decoration: none;
  color:var(--FONTCOLOR);
}
.a-in-btn:hover{
  text-decoration: none;
  color:var(--FONTCOLOR2);
}

/***********   GESTION des collaborateur ***********/
.gestion{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--SECONDARY);
  margin-top: 70px;
  border-radius: 12px;
}

.title-page{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--FONTTITLE);
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
}

.btn-ajouter{
  color:var(--FONTCOLOR);
  background-color: var(--PRIMARY);
  width: 180px;
  height: 30px;
  border-radius: 25px;
  border:none;
  margin-top:30px;
  margin-bottom: 5px;
  margin-right: 60px;
}

.btn-ajouter:hover{
  background-color: var(--ACCENT1);
}

.btn-ajouter a{
  color:var(--FONTCOLOR);
text-decoration: none;
}

.btn-ajouter a:hover{
  color:var(--FONTCOLOR2);
}

.btn-add-collab{
  display:flex;
  justify-content: end;
}

.table-collab{
display: flex;
justify-content: center;
}

.list-collab{
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 0.9rem;
  min-width:400px;
  text-align: center;
  background-color: var(--BGCOLORPR);
}

.list-collab thead{
  background-color: var(--PRIMARY);
  color: var(--FONTCOLOR);
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 25px;
  border-top-left-radius: 25px;

}

.list-collab th,td{
  padding: 12px 15px;
}

.list-collab tbody,tr{
  border: 1px solid #ddd;
}

.list-collab tr:nth-of-type(even){
  background-color: #fff;
}

svg{
  width: 15px;
  height: auto;
  padding: 0 40px;
}

svg:hover{
  color: var(--ACCENT1);
}

/***********   add artist  ***********/

.page-artist{
  background-color: var(--SECONDARY);
  margin-top:100px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: column;

}

.title-page-artist{
  font-family: var(--FONTTITLE);
  font-weight: 700;
  width:50%;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 40px;
  padding-top: 40px;
  text-align: center;
  font-size: 1.4rem;
}

.search-container{
  width:67%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.search-bar{
width: 250px;
height:30px;
border-radius: 4px;
}

.search-btn{
  width: 70px;
  position: absolute;
  left:180px;
  top:15%;
  background-color: transparent;
  border: none;
}

.plus{
  padding: 0 15px;
  background-color: var(--PRIMARY);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}


.table-artiste{
  display: flex;
  justify-content: center;
  }
  
  .list-artiste{
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9rem;
    min-width:400px;
    text-align: center;
    background-color: var(--BGCOLORPR);
  }
  
  .list-artiste thead{
    background-color: var(--PRIMARY);
    color: var(--FONTCOLOR);
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-left-radius: 25px;
  }
  
  .list-artiste th,td{
    padding: 12px 15px;
  }
  
  .list-artiste tbody,tr{
    border: 1px solid #ddd;
  }
  
  .list-artiste tr:nth-of-type(even){
    background-color: #fff;
  }