:root {
    --BGCOLORPU: #252525;
    --BGCOLORPR: #F3f3f3;
    --PRIMARY: #565759;
    --SECONDARY: #E0EBEA; 
    --ACCENT1: #C1D734;
    --ACCENT3: #FEE440;
    --ACCENT2: #ed5BE8;
    --FONTCOLOR: #F3f3f3;
    --FONTCOLOR2: #252525;
    --FONTTITLE: "Playfair", sans-serif;
    --FONTTEXT: "Montserrat", sans-serif;
  }

  body {
    font-family: var(--FONTTEXT);
  }

  main {
    background-color: var(--BGCOLORPR);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

/***********   PAGE CONNEXION   ***********/
  
  .bienvenu{
    color: var(--FONTCOLOR2);
    width: 25%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: var(--FONTTITLE);
  }
  
  .form-login{

    width:600px;
    height: 400px;
    margin-top:5%;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--BGCOLORPR);
    color: var(--FONTCOLOR2);
    border-radius: 25px;
    font-family: var(--FONTTEXT);
    font-weight: 500;
  }
  
  .field-login{
    width:550px;
    height:35px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
  }
  
  
  .from-divs{
   margin: 10px 15px;
  }
  
  
  .login-input{
  display: flex;
  flex-direction: row;
  justify-content: end;
  
  }
  
  
  .input-sub-login{
    width: 150px;
    border:none;
    border-radius: 25px;
    padding: 5px;
    margin: 15px 10px;
    background-color: var(--PRIMARY);
    color:var(--FONTCOLOR);
  }
  
  .input-sub-login:hover{
    background-color: var(--ACCENT1);
    color: var(--FONTCOLOR2);
    font-family: var(--FONTTITLE);
    font-weight: 700;
  
  }
  
  
  .red{
    color:red;
    font-family: var(--FONTTEXT);
  }

   /********* NAVBARR **********/ 

   nav {
    height: 100vh;
    width: fit-content;
    background-color: #223533;
    grid-column: 1/2;
    grid-row: 1/13;
    position: absolute;
    top: 0;
    z-index: 100;
   }

   nav div#burger {
    height: fit-content;
    width: fit-content;
    padding: 1.5rem 0 0 1.5rem;
    cursor: pointer;
    position: absolute;
   }

   nav ul {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   }

   nav div#burger a#brg-btn {
    display: inline-block;
    height: 100%;
    width: 100%;
   }

   nav svg{
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--ACCENT1);
    padding: 0;
   }

   nav ul div li svg {
      height: 1.75rem;
      width: 1.75rem;
    }

   nav ul div.menu-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

   nav ul div.menu-items div.items {
    padding: 2rem; 
    display: flex;
   }

   nav ul div.menu-items div.items a {
    display: flex;
    align-items: center;
    gap: 1rem;
   }

   nav ul div.menu-items div span {
    color: var(--ACCENT1);
    display: none;
    margin: auto 1rem;
    padding-left: 1.5rem; 
    transition: display 1s;
   }

   nav ul div.menu-items div span a {
    color: var(--ACCENT1);
   }
  
  /********* NAV HEAD **********/

  div.nav-contain {
    grid-column: 1/13;
    height: 3rem;
    padding: 0 2rem 0 6rem;
    background-color: #223533;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1rem;
  }

  div.user h1 {
    font-family: var(--FONTTITLE);
    color: var(--FONTCOLOR);
  }

  div.loupe {
    height: fit-content;
    width: fit-content;
    margin: auto 0;
    padding-right: 0.25rem;
  }

  div.searchbar {
    display: flex;

  }

  div.loupe svg#svg-loupe {
    height: 20px;
    width: 20px;
    fill: #F3f3f3;
    padding: 0;
  }

  div.searchbar input {
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50px;
    border: solid 1px #94AFAD;
  }
  
  
  /********* DASHBOARD HOME **********/

h1.home {
  grid-column: 2/4;
  padding-top: 1rem;
}

div.calendar {
  grid-column: 3/8;
  grid-row: 2/8;
  margin: 2rem 1.5rem 2rem 0;
}

div.calendar-daily {
  grid-column: 8/12;
  grid-row: 2/8;
  margin: 2rem 0;
}

div.calendar,
div.calendar-daily {
  border-radius: 12px;
  background-color: var(--SECONDARY);
  padding: 1rem;
}

div.art-state {
  background-color: var(--SECONDARY);
  grid-column: 2/13;
  grid-row: 8/13;
  border-radius: 12px;
  height: fit-content;
  margin-right: 2rem;
  padding: 1rem;
}

/********* ART STATE **********/

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  width: 50%;
  border-radius: 25px;
  background-color: #94AFAD;
  margin-right: 1rem;
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #78908E;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.state{
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.swiper-navBtn{
  color: #C1D734;
  transition: color 0.3s ease;
}

.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
 
/***********   PAGE ADD COLLABORATEUR  et ADD SERVICE ***********/
.add-collab{
  width:800px;
  height: 900px;
  margin-top:2%;
  margin-left:auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--BGCOLORPR);
  color: var(--FONTCOLOR2);
  border-radius: 25px;
  font-family: var(--FONTTEXT);
  font-weight: 500;
}

.field-add-collab{
  width:550px;
  height:35px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.input-sub-add-collab{
  width: 120px;
  border:none;
  border-radius: 25px;
  padding: 5px;
  margin: 15px 10px;
  background-color: var(--PRIMARY);
  color:var(--FONTCOLOR);
  font-weight: 700;
}

 .input-sub-add-collab:hover{
  background-color: var(--ACCENT1);
  color: var(--FONTCOLOR2);
  font-family: var(--FONTTITLE);
  font-weight: 700;
}
.valider-service{
  width: 120px;
  border:none;
  border-radius: 25px;
  padding: 5px;
  margin: 10px 25px;
  background-color: var(--PRIMARY);
  color:var(--FONTCOLOR);
  font-weight: 700;
}

.valider-service:hover{
  background-color: var(--ACCENT1);
  color: var(--FONTCOLOR2);
  font-family: var(--FONTTITLE);
  font-weight: 700;
}

#add-service{
  width: 140px;
  border:none;
  border-radius: 25px;
  padding: 5px;
  margin: 0px 10px;
  background-color: var(--PRIMARY);
  color:var(--FONTCOLOR);
  font-weight: 700;
}

#add-service:hover{
  background-color: var(--ACCENT1);
  color: var(--FONTCOLOR2);
  font-family: var(--FONTTITLE);
  font-weight: 700;
}

.title-form{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-family: var(--FONTTITLE);
  font-size: 1.4rem;
  font-weight: 700;
}

.a-in-btn{
  text-decoration: none;
  color:var(--FONTCOLOR);
}
.a-in-btn:hover{
  text-decoration: none;
  color:var(--FONTCOLOR2);
}

/***********   GESTION des collaborateur ***********/
.gestion{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--SECONDARY);
  margin-top: 70px;
  border-radius: 12px;
}

.title-page{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--FONTTITLE);
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
}

.btn-ajouter{
  color:var(--FONTCOLOR);
  background-color: var(--PRIMARY);
  width: 180px;
  height: 30px;
  border-radius: 25px;
  border:none;
  margin-top:30px;
  margin-bottom: 5px;
  margin-right: 60px;
}

.btn-ajouter:hover{
  background-color: var(--ACCENT1);
}

.btn-ajouter a{
  color:var(--FONTCOLOR);
text-decoration: none;
}

.btn-ajouter a:hover{
  color:var(--FONTCOLOR2);
}

.btn-add-collab{
  display:flex;
  justify-content: end;
}

.table-collab{
display: flex;
justify-content: center;
}

.list-collab{
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 0.9rem;
  min-width:400px;
  text-align: center;
  background-color: var(--BGCOLORPR);
}

.list-collab thead{
  background-color: var(--PRIMARY);
  color: var(--FONTCOLOR);
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 25px;
  border-top-left-radius: 25px;

}

.list-collab th,td{
  padding: 12px 15px;
}

.list-collab tbody,tr{
  border: 1px solid #ddd;
}

.list-collab tr:nth-of-type(even){
  background-color: #fff;
}

svg{
  width: 15px;
  height: auto;
  padding: 0 40px;
}

svg:hover{
  color: var(--ACCENT1);
}

/********** IMPLANTATION **********/

div.search-bar-implant {
  grid-column: 3/6;
  grid-row: 2/3;
  
}

div.search-bar-implant input {
  width: 100%;
  height: 2rem;
  border-radius: 25px;
  border: 1px solid #223533;
  padding: 0.5rem;
}

div.map-expo {
  background-color: #94AFAD;
  grid-column: 2/9;
  grid-row: 3/12;
  margin-right: 10%;
}

div.resume-map-expo {
  background-color: #94AFAD;
  grid-column: 9/13;
  grid-row: 3/12;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  overflow: hidden; 
}

div.print-resume-map-expo {
  grid-row: 12/13;
  grid-column: 10/13;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
}

div.print-resume-map-expo button {
  height: 2rem;
  padding: 0 1.25rem;
  border-radius: 25px;
  border: none;
  background-color: var(--ACCENT1);
  cursor: pointer;
}

div.scroll-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

div.resume-map-expo h1 {
  font-family: var(--FONTTITLE);
  font-weight: 500;
  padding-bottom: 1rem;
}

div.card-implant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #78908E;
  width: 100%;
}

div.card-img-implant {
  
}

div.card-img-implant img{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

div.card-info-implant p {
  padding-bottom: 0.5rem;
}

div.card-position-implant input {
  height: 3rem;
  width: 3rem;
}